allow init vfat:file r_file_perms;
allow init vfat:dir r_dir_perms;

allow init bt_firmware_file:dir mounton;
allow init firmware_file:dir mounton;
allow init socket_device:sock_file { create setattr unlink };

domain_trans(init, rootfs, dashd)
