hal_client_domain(platform_app, hal_ifaa)
allow platform_app time_daemon:unix_stream_socket { connectto };
allow platform_app vendor_display_prop:file { getattr open read };
