allow thermal-engine sysfs:dir r_dir_perms;
allow thermal-engine sysfs:file { open read };

# Reboot/shutdown for thermal limits exceeded.
set_prop(thermal-engine, powerctl_prop)
